# Salifort Motors Data Science Project - Exploratory Data Analysis

The HR department at Salifort Motors wants to take some initiatives to improve employee satisfaction levels at the company. They collected data from employees, and they want to analyse this data to build a model that predicts whether or not an employee will leave the company.

In the previous notebook, I cleaned the data so I could carry out further analysis on it. In this notebook, I will carry out exploratory data analysis in an attempt to uncover some pattern and trends, insights, as well as inform me on how best to build the model.

### Original Data Source


The data was sourced from Kaggle, which can be accessed [here](https://www.kaggle.com/datasets/mfaisalqureshi/hr-analytics-and-job-prediction?select=HR_comma_sep.csv).

### Variable descriptions

<img src="../images/sm_variables.png" alt="Variables" width="500">

**Note:** The 'left' variable merely represents those who left the company or not, regardless of whether they left by their own accord, or if they were fired.

In [10]:
# Import packages

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
# Load dataset

df = pd.read_csv('../data/cleaned_sm_data.csv')

In [14]:
df.head()

,satisfaction_level,last_evaluation,number_project,average_monthly_hours,time_spend_company,work_accident,left,promotion_last_5years,department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

### Initial hypotheses

* Likely variables to be associated with turnover:
    * satisfaction level - lower satisfaction - higher turnover
    * last evaluation - lower performance score - likely to be fired - higher turnover
    * number of projects - too high - likely to burnout - more likely for turnover
    * average monthly hours
        * Too low - likely fired - turnover
        * too high - likely to burnout - turnover
    * Time spent at the company - more turnover for low to mid years - those who have stayed for a very long time are likely to be more loyal ~ less turnover
    * Work accident - work accident may cause employee to leave
    * promotion in last 5 years - no - more turnover
    * department - unsure
    * salary - low salary = more turnover, high salary = less turnover

In [ ]:
# My initial questions

# Difference between those who left and those who stayed in satisfaction level, last evaluation, average monthly hours.
# Association between promotion in last 5 years, and leaving 
# Association between work accident, and leaving 
# Association between department and leaving
# Association between salary and leaving
# relationship between time_spend in company and leaving (left count for each)
# relationship between number of projects and leaving (left count for each)
# Total number of hours worked (avg monthly * 12 * time spend company)
# Number and percentages of those who left vs stayed: overall, and per variable
# Those who have worked at the company for 5 years, who have had a promotion
# Make separate dataset for those who worked for 5 years.
# Association between employees who work on many projects, getting promoted, and leaving
# Association between employees who have good evaluation but not getting promoted, and leaving 
# Association between number of projects, time spent at company, (getting promoted), and leaving